.donations {
  width: 20%
}

.donation {
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
}

.donations-banner {
  text-decoration: underline;
  text-align: center;
}
